<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Chỉnh sửa thông tin sản phẩm</h2>
          </div>
        </div>

        <div class="row tm-edit-product-row">

          <div class="col-xl-6 col-lg-6 col-md-12">
            {{#with currentProduct }}
            <form method="POST" class="tm-edit-product-form" action="/products/{{product_id}}/update">
              <div class="form-group mb-3">
                <label for="name">Tên sản phẩm
                </label>
                <input id="name" name="name" type="text" value="{{product_name}}" class="form-control validate" />
              </div>
              <div class="form-group mb-3">
                <label for="descriptions">Mô tả</label>
                <input id="descriptions" name="descriptions" type="text" value="{{descriptions}}"
                  class="form-control validate" />
              </div>
              <div class="form-group mb-3">
                <label for="category">Phân loại </label>
                <select class="custom-select tm-select-accounts" id="category" name="category">
                   {{#with ../curentCategoryProduct }}
                  <option selected>{{category_name}} </option>
                  {{/with}}
                  {{#each ../categories}}
                  <option value="{{category_name}}">{{category_name}}</option>
                {{/each}}
                </select>
              </div>
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="model_year">Năm sản xuất
                  </label>
                  <input id="model_year" name="model_year" type="text" value="{{model_year}}"
                    class="form-control validate" data-large-mode="true" />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="price">Giá tiền
                  </label>
                  <input id="price" name="price" type="text" value="{{price}}" class="form-control validate" />
                </div>
              </div>
              {{/with}}



          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            {{#with imgProduct }}

            <div class="tm-product-img-edit mx-auto">
              <img src="{{image_link}}" alt="Product image" class="img-fluid d-block mx-auto">
              <i class="fas fa-cloud-upload-alt tm-upload-icon"
                onclick="document.getElementById('fileInput').click();"></i>
            </div>
            <div class="custom-file mt-3 mb-3">
              <input id="fileInput" type="file" style="display:none;" />
              <input type="button" class="btn btn-primary btn-block mx-auto" value="Tải lên ảnh sản phẩm"
                onclick="document.getElementById('fileInput').click();" />
            </div>
            {{/with}}

          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Cập nhật</button>
          </div>
          </form>
        </div>
      </div>
      {{!-- {{/with}} --}}

    </div>
  </div>
</div>

<script>

</script>