
{{> header }}
<div class="container mt-5">
  <div class="container">
    <div class="container">
      <div div="row" style="margin: 20px auto;">
        <form action="/products" method="get">
          <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="Sản phẩm bạn tìm kiếm là ?"
                name="search_name" value="{{search_name}}" autocomplete="off" onkeyup="suggest(this.value)">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
			<div id = "search-suggest">
				
			</div>
        </form>
      </div>
    </div>
  </div>
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="row">
          <div class="col">
            <a href="/products/add" class="btn btn-primary btn-block text-uppercase mb-3">
            <i class="fas fa-plus" style="margin-right: 10px;"> </i>
             Thêm sản phẩm</a>
          </div>
        </div>
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              {{#if Pages}}
              <tr>
                <th scope="col"></th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại</th>
                <th scope="col">Kho</th>
                <th scope="col">Giá</th>
                <th scope="col">&nbsp;</th>
                <th scope="col"></th>

              </tr>
              {{/if}}
            </thead>
            <tbody>
              {{#if products}}
              {{#each products}}
              <tr>
                <td><img src="{{'images.image_link'}}" alt=""></td>
                <td class="tm-product-name">{{product_name}}</td>
                <td>{{'category.category_name'}}</td>
                <td>{{quantity}}</td>
                <td>{{price}}</td>
                <td>
                  <a href="/products/{{product_id}}/edit" class=" tm-product-delete-link">
                    <i class="far fa-edit tm-product-delete-icon"></i>
                  </a>
                </td>

								<td>
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#delete-product-modal" data-id="{{product_id}}">
										<i class="far fa-trash-alt tm-product-delete-icon"></i>
									</a>
								</td>
							</tr>
							{{/each}}
							{{else}}
							<h1 class="Notification">Không có sản phẩm nào phù hợp!</h1>
							{{/if}}
						</tbody>
					</table>
				</div>
				{{#if Pages}}
				<nav aria-label="Page navigation example">
					<ul class="pagination" style="display: flex; justify-content: center;">
						{{#if search_name}}
						<li class="page-item">
							<a class="page-link" href="?search_name={{search_name}}&page={{previous}}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>

						{{#pages Pages indexpage search_name}}
						<li class="page-item {{active}}"><a class="page-link" href="?search_name={{search_name}}&page={{index}}">{{index}}</a>
						</li>
						{{/pages}}
						<li class="page-item">
							<a class="page-link" href="?search_name={{search_name}}&page={{next}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
						{{else}}
						<li class="page-item">
							<a class="page-link" href="?page={{previous}}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						{{#pages Pages indexpage search_name}}
						<li class="page-item {{active}}"><a class="page-link" href="?page={{index}}">{{index}}</a></li>
						{{/pages}}
						<li class="page-item">
							<a class="page-link" href="?page={{next}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
						{{/if}}
					</ul>
				</nav>
				{{/if}}
				<!-- table container -->
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-product-categories">
				<div class="row">
					<div class="col-md-6">
						<a href="/products/add-product" class="btn btn-primary btn-block text-uppercase mb-3">Thêm loại sản
							phẩm</a>
					</div>
					<div class="col-md-6">
						<button class="btn btn-primary btn-block text-uppercase">
							Xoá loại sản phẩm
						</button>
					</div>
				</div>

        <div class="tm-categories-table-container">
          <table class="table tm-table-small tm-product-table">
            <tbody>
              <thead>
                <tr>
                  {{!-- <th scope="col">&nbsp;</th> --}}
                  <th scope="col"></th>
                  <th scope="col">Mã loại sản phẩm</th>
                  <th scope="col">Loại sản phẩm</th>
                  <th scope="col"></th>

                </tr>
              </thead>
              {{#each categories }}
              <tr>
                <td></td>
                <td class="tm-product-name">{{category_id}}</td>
                <td class="tm-product-name">{{category_name}}</td>
                <td class="text-center">
                  <a href="#" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- table container -->
      </div>
    </div>
  </div>
</div>
{{!-- Confirm delete modal --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xoá sản phẩm</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn xoá sản phẩm này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-delete-product" type="button" class=" btn btn-danger" method="post">Xoá bỏ</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>


{{!-- Delete hidden for, --}}
<form method="post" name="delete-product-form" action="'/products/{{product_id}}/delete'">
</form>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var productID
		var deleteForm = document.forms['delete-product-form'];
		$('#delete-product-modal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			productID = button.data('id')

		});

		var btnDeleteProduct = document.getElementById('btn-delete-product');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/products/' + productID + '/delete';
			deleteForm.submit();
		}

	});

</script>

</body>
