
{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			{{!------------------ Search area ---------------------}}
			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-3">
					{{!-- <form action="/products" method="get"> --}}
						<div class="wrap">
							<div class="search">
								<input type="text" class="searchTerm" placeholder="Sản phẩm bạn tìm kiếm là ?" name="search_name"
									value="{{search_name}}" autocomplete="off" onkeyup="changePage(1)" id="search_name">
								<button type="button" class="searchButton" onclick="changePage(1)">
									<i class="fa fa-search"></i>
								</button>
								{{!-- <div id="search-suggest"></div> --}}
							</div>
						</div>
					{{!-- </form> --}}
				</div>
				<div class="col-2">
					<select class="filter-category" id="category"
						name="category" onchange="changePage(1)">
						<option selected value="">
							Phân loại
						</option>
						{{#each parentCategories}}
						<option value="{{category_id}}">{{category_name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="brand" name="brand" onchange="changePage(1)">
						<option value="" selected>
							Nhà sản xuất
						</option>
						{{#each brands}}
						<option value="{{brand_id}}">{{brand_name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="sort" name="sort" onchange="changePage(1)">
						<option value="" selected>Sắp xếp theo</option>
						<option value="model_year">Hàng mới</option>
						<option value="price_asc">Giá tăng dần</option>
						<option value="price_desc">Giá giảm dần</option>
						<option value="name_asc">Tên A-Z</option>
						<option value="name_desc">Tên Z-A</option>
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="limit" name="limit" onchange="changePage(1)">
						<option value="" selected>Hiển thị</option>
						<option value="6">6</option>
						<option value="9">9</option>
						<option value="18">18</option>
						<option value="36">36</option>
					</select>
				</div>
				<div class="add-block">
					<a href="/products/add">
						<i class="fas fa-plus"> </i>
					</a>
				</div>
			</div>

			{{!-------------------- Product List area -------------------------}}


			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
							<table class="table table-hover tm-table-small tm-product-table">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">Tên sản phẩm</th>
										<th scope="col">Loại</th>
										<th scope="col">Kho</th>
										<th scope="col">Giá</th>
										<th scope="col">&nbsp;</th>
										<th scope="col"></th>

									</tr>
								</thead>
								{{#if products}}
								<tbody id="product-list">
									{{#each products}}
									<tr>
										<td><img src="{{'images.image_link'}}" alt=""></td>
										<td class="tm-product-name">{{product_name}}</td>
										<td>{{'category.category_name'}}</td>
										<td>{{quantity}}</td>
										<td>{{price}}</td>
										<td>
											<a href="/products/{{product_id}}/edit" class=" tm-product-delete-link">
												<i class="far fa-edit tm-product-delete-icon"></i>
											</a>
										</td>
										<td>
											<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
												data-target="#delete-product-modal" data-id="{{product_id}}">
												<i class="far fa-trash-alt tm-product-delete-icon"></i>
											</a>
										</td>
									</tr>
									{{/each}}
								</tbody>
								<script type="text/x-handlebars-template" id="product-list-template">
									\{{#each products}}
									<tr>
										<td><img src="\{{'images.image_link'}}" alt=""></td>
										<td class="tm-product-name">\{{product_name}}</td>
										<td>\{{'category.category_name'}}</td>
										<td>\{{quantity}}</td>
										<td>\{{price}}</td>
										<td>
											<a href="/products/\{{product_id}}/edit" class=" tm-product-delete-link">
												<i class="far fa-edit tm-product-delete-icon"></i>
											</a>
										</td>
										<td>
											<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
												data-target="#delete-product-modal" data-id="\{{product_id}}">
												<i class="far fa-trash-alt tm-product-delete-icon"></i>
											</a>
										</td>
									</tr>
									\{{/each}}
								</script>
								{{else}}
									<h1 class="Notification">Không có sản phẩm nào phù hợp!</h1>
								{{/if}}
							</table>
						</div>
						{{#if pagination.pages}}
						<nav aria-label="Page navigation example" id="pagination-product">
							{{{paginateProductList pagination}}}
						</nav>
						{{/if}}
						<!-- table container -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{{!-- Confirm delete modal --}}
<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xoá sản phẩm</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn xoá sản phẩm này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-delete-product" type="button" class=" btn btn-danger" method="post">Xoá bỏ</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>


{{!-- Delete hidden form --}}
<form method="post" name="delete-product-form" action="'/products/{{product_id}}/delete'">
</form>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var productID
		var deleteForm = document.forms['delete-product-form'];
		$('#delete-product-modal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			productID = button.data('id')

		});

		var btnDeleteProduct = document.getElementById('btn-delete-product');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/products/' + productID + '/delete';
			deleteForm.submit();
		}

	});

</script>