
{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">

		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row justify-content-center">
		<div class="tm-block-col tm-col-account-settings">
			{{#with user}}
			<div class="tm-bg-primary-dark tm-block tm-block-settings">
				<h2 class="tm-block-title">Chỉnh sửa thông tin cá nhân</h2>
				
				<form action="/profile/update" class="tm-signup-form row justify-content-center" method="post">
					<div class="form-group col-lg-12">
						<label for="email">Địa chỉ Email</label>
						<input
							id="email"
							name="email"
							type="email"
							class="form-control validate"
							required
							oninvalid="this.setCustomValidity('Mục này không được để trống')"
							oninput="this.setCustomValidity('')"
							value={{email}}
							maxlength="50"
							disabled
						/>
					</div>
					<div class="form-group col-lg-6">
						<label for="firstname">Họ </label>
						<input
							id="firstname"
							name="firstname"
							type="text"
							class="form-control validate"
							required
							oninvalid="this.setCustomValidity('Mục này không được để trống')"
							oninput="this.setCustomValidity('')"
							value="{{firstname}}"
							maxlength="40"
						/>
					</div>

					<div class="form-group col-lg-6">
						<label for="lastname">Tên </label>
						<input
							id="lastname"
							name="lastname"
							type="text"
							class="form-control validate"
							required
							oninvalid="this.setCustomValidity('Mục này không được để trống')"
							oninput="this.setCustomValidity('')"
							value="{{lastname}}"
							maxlength="20"
						/>
					</div>

					

					<div class="form-group col-lg-6">
						<label for="phone">Điện thoại</label>
						<input
							id="phone"
							name="phone"
							type="tel"
							class="form-control validate"
							required
							oninvalid="this.setCustomValidity('Mục này không được để trống')"
							oninput="this.setCustomValidity('')"
							value={{phone}}
							maxlength="11"
						/>
					</div>
						<div class="form-group col-lg-6">
						<label for="address">Địa chỉ</label>
						<input
							id="address"
							name="address"
							type="text"
							class="form-control validate"
							required
							oninvalid="this.setCustomValidity('Mục này không được để trống')"
							oninput="this.setCustomValidity('')"
							value="{{address}}"
							maxlength="65000"
						/>
					</div>
					{{/with}}
					<div class="form-group col-lg-6">
						<label class="tm-hide-sm">&nbsp;</label>
						<button
							type="submit"
							class="btn btn-primary btn-block text-uppercase"

						>
							Cập nhật
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>