            {{> header }}
            <div class="container mt-5">
               
                    <div class="col-12 ">
                        <div class="tm-bg-primary-dark ">
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Mã đơn</th>
                                        <th scope="col">Ngày đặt hàng</th>
                                        <th scope="col">Tên khách hàng</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col">Nơi nhận</th>
                                        <th scope="col">Thành tiền</th>
                                        <th scope="col">Trang trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orders}}
                                    <tr>
                                        <th scope="row"><b>{{order_id}}</b></th>
                                        <th scope="row"><b>{{order_date}}</b></th>
                                        <td><b>{{'user.firstname'}} {{'user.lastname'}}</b></td>
                                        <td><b>{{'user.phone'}}</b></td>
                                        <td><b>{{'user.address'}}</b></td>
                                        <td><b>{{order_total_price}}</b></td>
                                        <td>
                                            {{#if (compareStatus "pending" order_status)}}
                                                <div class="tm-status-circle pending"></div>
                                                Đang chờ xử lý
                                            {{/if}}
                                            {{#if (compareStatus "moving" order_status)}}
                                                <div class="tm-status-circle moving"></div>
                                                Đang vận chuyển
                                            {{/if}}
                                            {{#if (compareStatus "done" order_status)}}
                                                <div class="tm-status-circle done"></div>
                                                Đã giao hàng
                                            {{/if}}
                                            {{#if (compareStatus "cancelled" order_status)}}
                                                <div class="tm-status-circle cancelled"></div>
                                                Đã hủy
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{> footer }}
</body>
