
{{> header }}
<div class="container mt-5">
	 <div class="row justify-content-center" style="margin-bottom: 20px;">
        <div class="col-3">
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Mã voucher?" name="search_name"
                        value="" autocomplete="off" onkeyup="changePageVoucher(1)" id="search_voucher">
                    <button type="button" class="searchButton" onclick="changePageVoucher(1)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <select class="filter-category" id="type-voucher" name="type" onchange="changePageVoucher(1)">
                <option value="" selected>Loại voucher</option>
                <option value="pending">Chưa bắt đầu</option>
                <option value="active">Đang hiệu lực</option>
                <option value="expired">Hết hiệu lực</option>
            </select>
        </div>
        <div class="col-2">
            <select class="filter-category" id="sort-voucher" name="sort" onchange="changePageVoucher(1)">
                <option value="" selected>Sắp xếp theo</option>
                <option value="discount_asc">Mức giảm tăng dần</option>
                <option value="discount_desc">Mức giảm giảm dần</option>
            </select>
        </div>
        <div class="col-2">
            <select class="filter-category" id="limit-voucher" name="limit" onchange="changePageVoucher(1)">
                <option value="" selected>Hiển thị</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
            </select>
        </div>
        <div class="col-2">
            <div class="filter-category background-white text-center">Số voucher:&nbsp;&nbsp;<strong>{{totalVouchers}}</strong></div>
        </div>
		<div class="add-block">
			<a href="/vouchers/add">
				<i class="fas fa-plus"> </i>
			</a>
		</div>
    </div>
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
							<table class="table table-hover tm-table-small tm-product-table">
								<thead>
									<tr>
										<th scope="col">Mã giảm giá</th>
										<th scope="col">Mức giảm</th>
										<th scope="col">Ngày bắt đầu</th>
										<th scope="col">Ngày kết thúc</th>
										<th scope="col">&nbsp;</th>
									</tr>
								</thead>
								<tbody id="voucher-list">
									{{#each vouchers}}
									<tr>
										<td>{{voucher_id}}</td>
										<td class="">{{discount}} %</td>
										<td>{{start_date}}</td>
										<td>{{end_date}}</td>
										<td>
											<a href="/vouchers/{{voucher_id}}/edit" class=" tm-product-delete-link">
												<i class="far fa-edit tm-product-delete-icon"></i>
											</a>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<!-- table container -->
						{{#if pagination.pages}}
						<nav aria-label="Page navigation example" id="pagination-voucher">
							{{{paginateList pagination "changePageVoucher"}}}
						</nav>
						{{/if}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
