
{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<div class="tm-product-table-container">
							<table class="table table-hover tm-table-small tm-product-table">
								<thead>
									<tr>
										<th scope="col">Mã giảm giá</th>
										<th scope="col">Mức giảm</th>
										<th scope="col">Ngày bắt đầu</th>
										<th scope="col">Ngày kết thúc</th>
										<th scope="col">&nbsp;</th>
									</tr>
								</thead>
								<tbody id="voucher-list">
									{{#each vouchers}}
									<tr>
										<td>{{voucher_id}}</td>
										<td class="">{{discount}} %</td>
										<td>{{start_date}}</td>
										<td>{{end_date}}</td>
										<td>
											<a href="/vouchers/{{voucher_id}}/edit" class=" tm-product-delete-link">
												<i class="far fa-edit tm-product-delete-icon"></i>
											</a>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
						<!-- table container -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
