{{> header }}
<div class="container mt-5">
	<div class="container">
		<div class="container">
			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-3">
					<div class="wrap">
						<div class="search">
							<input type="text" class="searchTerm" placeholder="Admin muốn tìm kiếm?" name="search_name"
								value="" autocomplete="off" onkeyup="changePageAdmin(1)" id="search_admin">
							<button type="button" class="searchButton" onclick="changePageAdmin(1)">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-2">
					<select class="filter-category" id="sort-admin" name="sort" onchange="changePageAdmin(1)">
						<option value="" selected>Sắp xếp theo</option>
						<option value="name_asc">Tên A-Z</option>
						<option value="name_desc">Tên Z-A</option>
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="role-admin" name="role" onchange="changePageAdmin(1)">
						<option value="" selected>Vai trò</option>
						<option value="1">Super Admin</option>
						<option value="2">Admin</option>
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="limit-admin" name="limit" onchange="changePageAdmin(1)">
						<option value="" selected>Hiển thị</option>
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="6">6</option>
						<option value="8">8</option>
					</select>
				</div>
				<div class="col-2">
					<div class="filter-category background-white text-center">Số admin:&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{totalAdmins}}</strong></div>
				</div>
				<input id="hidden-id" value="{{user.user_id}}" hidden>
				<div class="add-block">
					{{#if (isNotSuperAdmin user.user_id)}}
						<a href="" data-toggle="modal"
						data-target="#prevent-add-admin-modal">
							<i class="fas fa-plus"> </i>
						</a>
						{{else}}
						<a href="/accounts/admins/add">
							<i class="fas fa-plus"> </i>
						</a>
					{{/if}}
				</div>
			</div>

		</div>
	</div>
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<div class="tm-product-table-container">
					<table class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Họ và tên</th>
								<th scope="col">Địa chỉ</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Email</th>
								<th scope="col">Vai trò</th>
								<th scope="col">&nbsp;</th>
								<th scope="col"></th>

							</tr>
						</thead>
						{{#if admins}}
						<tbody id="admin-list">
							{{#each admins}}
							<tr>
								<td class="tm-product-name">{{user_id}}</td>
								<td>{{firstname}} {{lastname}}</td>
								<td>{{address}}</td>
								<td>{{phone}}</td>
								<td>{{email}}</td>
								<td>{{"role_id_roles.role_name"}}</td>
								<td>
									<a href="/accounts/admin/{{user_id}}" class=" tm-product-delete-link">
										<i class="far fa-eye tm-product-delete-icon"></i>
									</a>
								</td>

								<td>
									
									{{#if (isBlockedAccount is_blocked)}}
									{{#if (isNotSuperAdmin ../user.user_id)}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#prevent-lock-unlock-admin-modal" data-id="{{user_id}}">
										<i class="fas fa-lock tm-product-delete-icon"></i>
									</a>
									{{else}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#unlock-product-modal" data-id="{{user_id}}">
										<i class="fas fa-lock tm-product-delete-icon"></i>
									</a>
									{{/if}}

									{{else}}
									{{#if (isNotSuperAdmin ../user.user_id)}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#prevent-lock-unlock-admin-modal">
										<i class="fas fa-unlock tm-product-delete-icon"></i>
									</a>
									{{else}}
									{{#if (isLockedEnable user_id ../user.user_id) }}
									<a href="#" class="tm-product-delete-link btn-danger"
										data-toggle="modal" data-target="#lock-product-modal" data-id="{{user_id}}">
										<i class="fas fa-unlock tm-product-delete-icon"></i>
									</a>
									{{else}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#prevent-lock-yourself-modal" data-id="{{user_id}}">
										<i class="fas fa-unlock tm-product-delete-icon"></i>
									{{/if}}
									{{/if}}
									{{/if}}
								</td>
							</tr>
							{{/each}}
						</tbody>
						{{else}}
						<h1 class="Notification">Không có quản trị viên nào phù hợp!</h1>
						{{/if}}
					</table>
				</div>
				<nav aria-label="Page navigation example" id="pagination-admin">
					{{{paginateList pagination 'changePageAdmin'}}}
				</nav>
			</div>
		</div>

	</div>
</div>

<div id="prevent-add-admin-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thông báo</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Chỉ có <strong>Super Admin</strong> mới được thêm admin mới</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>
</div>

<div id="prevent-lock-unlock-admin-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thông báo</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Chỉ có <strong>Super Admin</strong> mới được quyền khóa hoặc mở khóa admin khác</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>
</div>

<div id="prevent-lock-yourself-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thông báo</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Không thể tự khóa tài khoản của chính mình</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>
</div>

{{!-- Confirm delete modal --}}
<div id="unlock-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Mở khóa admin</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn mở khoá admin này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-unlock" type="button" class=" btn btn-danger" method="post">Mở khoá</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>

<div id="lock-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Khoá admin</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn khoá admin này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-lock" type="button" class=" btn btn-danger" method="post">Khoá</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>


{{!-- Delete hidden form --}}
<form method="post" name="delete-product-form" action="">
</form>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let adminID;;
		const deleteForm = document.forms['delete-product-form'];
		$('#unlock-product-modal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget) // Button that triggered the modal
			adminID = button.data('id')

		});

		
		const btnDeleteProduct = document.getElementById('btn-unlock');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/accounts/unlock';
			deleteForm.innerHTML = `<input type="text" name="user_id" value=${adminID} hidden>`;
			deleteForm.submit();
		}

	});

	document.addEventListener("DOMContentLoaded", function () {
		let adminID;
		const deleteForm = document.forms['delete-product-form'];
		$('#lock-product-modal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget) // Button that triggered the modal
			adminID = button.data('id')

		});

		const btnDeleteProduct = document.getElementById('btn-lock');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/accounts/lock';
			deleteForm.innerHTML = `<input type="text" name="user_id" value=${adminID} hidden>`;
			deleteForm.submit();
		}

	});
</script>