
{{> header }}
<div class="container mt-5">

    <div class="col-12 ">
        <div class="tm-bg-primary-dark ">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userAccounts}}
                    <tr>
                        <th scope="row"><b>{{user_id}}</b></th>
                        <td><b>{{firstname}} {{lastname}}</b></td>
                        <td><b>{{email}}</b></td>
                        <td>
                            {{#if (isBlockedAccount is_blocked)}}
                            <button><i class="fas fa-lock"></i>Locked</button>
                            {{/if}}
                        </td>
                        <td>
                            <a href="/accounts/users/{{user_id}}/profile" class=" tm-product-delete-link">
                                <i class="far fa-eye tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>

                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
    </ul>
</div>