{{> header }}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
			<div class="row justify-content-center" style="margin-bottom: 20px;">
				<div class="col-3">
					<div class="wrap">
						<div class="search">
							<input type="text" class="searchTerm" placeholder="Người dùng muốn tìm kiếm?" name="search_name"
								value="" autocomplete="off" onkeyup="changePageUser(1)" id="search_user">
							<button type="button" class="searchButton" onclick="changePageUser(1)">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-2">
					<select class="filter-category" id="sort-user" name="sort" onchange="changePageUser(1)">
						<option value="" selected>Sắp xếp theo</option>
						<option value="price_asc">Chi tiêu tăng dần</option>
						<option value="price_desc">Chi tiêu giảm dần</option>
						<option value="name_asc">Tên A-Z</option>
						<option value="name_desc">Tên Z-A</option>
					</select>
				</div>
				<div class="col-2">
					<select class="filter-category" id="limit-user" name="limit" onchange="changePageUser(1)">
						<option value="" selected>Hiển thị</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</div>
				<div class="col-2">
					<div class="filter-category background-white text-center">Số người dùng:&nbsp;&nbsp;<strong>{{totalUsers}}</strong></div>
				</div>
			</div>

			<div class="tm-bg-primary-dark tm-block tm-block-products">
				<div class="row"></div>
				<div class="tm-product-table-container">
					<table class="table table-hover tm-table-small tm-product-table">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Tên khách hàng</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Tổng chi tiêu</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Chi tiết</th>
							</tr>
						</thead>
						{{#if users}}
						<tbody id="user-list">
							
							{{#each users}}
							<tr>
								<th scope="row"><b>{{user_id}}</b></th>
								<td><b>{{firstname}} {{lastname}}</b></td>
								<td><b>{{phone}}</b></td>
								<td><b>{{total_amount}}</b></td>
								<td>
									{{#if is_blocked}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#unlock-product-modal" data-id="{{user_id}}">
										<i class="fas fa-lock tm-product-delete-icon"></i>
									</a>
									{{else}}
									<a href="" class="tm-product-delete-link btn-danger" data-toggle="modal"
										data-target="#lock-product-modal" data-id="{{user_id}}">
										<i class="fas fa-unlock tm-product-delete-icon"></i>
									</a>
									{{/if}}
								</td>
								<td>
									<a href="/accounts/users/{{user_id}}" class=" tm-product-delete-link">
										<i class="far fa-eye tm-product-delete-icon"></i>
									</a>
								</td>
							</tr>
							{{/each}}
						</tbody>
						{{else}}
							<h1 class="Notification">Không có người dùng nào phù hợp!</h1>
						{{/if}}
					</table>
				</div>
				<nav aria-label="Page navigation example" id="pagination-user">
					{{{paginateList pagination 'changePageUser'}}}
				</nav>
			</div>
		</div>

	</div>
</div>
{{!-- Confirm delete modal --}}


<div id="unlock-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Khoá người dùng</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn mở khoá người dùng này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-unlock" type="button" class=" btn btn-danger" method="post">Mở khoá</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>

<div id="lock-product-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Khoá người dùng</h5>
				<button type="button" class="close" data-dismiss="modal" data-id="" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Bạn chắc chắn muốn khoá người dùng này ?</p>
			</div>
			<div class="modal-footer">
				<button id="btn-lock" type="button" class=" btn btn-danger" method="post">Khoá</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
			</div>
		</div>
	</div>
</div>


{{!-- hidden form --}}
<form method="post" name="delete-product-form"></form>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let userID;
		const deleteForm = document.forms['delete-product-form'];
		$('#unlock-product-modal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget) // Button that triggered the modal
			userID = button.data('id')

		});

		const btnDeleteProduct = document.getElementById('btn-unlock');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/accounts/unlock';
			deleteForm.innerHTML = `<input type="hidden" name="user_id" value="${userID}">`;
			deleteForm.submit();
		}

	});

		document.addEventListener("DOMContentLoaded", function () {
		let userID;
		const deleteForm = document.forms['delete-product-form'];
		$('#lock-product-modal').on('show.bs.modal', function (event) {
			const button = $(event.relatedTarget) // Button that triggered the modal
			userID = button.data('id')

		});

		const btnDeleteProduct = document.getElementById('btn-lock');

		btnDeleteProduct.onclick = function () {
			deleteForm.action = '/accounts/lock';
			deleteForm.innerHTML = `<input type="hidden" name="user_id" value="${userID}">`;
			deleteForm.submit();
		}
	});
</script>
