    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Chỉnh sửa thông tin sản phẩm</h2>
              </div>
            </div>
            {{#with currentProduct}}
            <div class="row tm-edit-product-row">
            
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form  method="get" class="tm-edit-product-form" action="/products/{{product_id}}">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Tên sản phẩm
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      value="{{product_name}}"
                      class="form-control validate"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Mô tả</label
                    >
                   <input
                      id="description"
                      name="description"
                      type="text"
                      value="{{descriptions}}"
                      class="form-control validate"
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Phân loại</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                    >
                      <option>Chọn loại</option>
                      <option value="1" selected>Loa</option>
                      <option value="2">Tai nghe</option>
                      <option value="3">Khác</option>
                    </select>
                  </div>
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="expire_date"
                            >Năm sản xuất
                          </label>
                          <input
                            id="expire_date"
                            name="expire_date"
                            type="text"
                            value="{{model_year}}"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="price"
                            >Giá tiền
                          </label>
                          <input
                            id="price"
                            name="price"
                            type="text"
                            value="{{price}}"
                            class="form-control validate"
                          />
                        </div>
                  </div>
                  
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-edit mx-auto">
                  <img src="img/product-image.jpg" alt="Product image" class="img-fluid d-block mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="Tải lên ảnh sản phẩm"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Cập nhật</button>
              </div>
            </form>
            </div>
          </div>
            {{/with}}
        </div>
      </div>
    </div>

    <script>
      $(function() {
        $("#expire_date").datepicker({
          defaultDate: "10/22/2025"
        });
      });
    </script>